<head>
  <meta charset="utf-8">
  <title>{{user_id}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The styles -->

    <!-- base -->
    <link id="bs-css" href="/static/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href='/static/css/charisma-app.css' rel="stylesheet">
    <link href='/static/css/theme-dark-all.css' rel='stylesheet'>

    <!-- Extended -->
  <link href='/static/bower_components/chosen/chosen.min.css' rel='stylesheet'>
  <link href='/static/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
  <link href='/static/css/jquery.noty.css' rel='stylesheet'>
  <link href='/static/css/noty_theme_default.css' rel='stylesheet'>
  <link href='/static/css/animate.min.css' rel='stylesheet'>
  <link href='/static/css/bootstrap-datepicker.min.css' rel='stylesheet'>
    <link href='/static/css/jquery.popVideo.css' rel='stylesheet'>
    <link href='/static/css/uploadify.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/css/daterangepicker.css" />
  <link href='/static/css/custom.css' rel='stylesheet'>
  <link href='/static/css/jquery.circliful.css' rel='stylesheet'>
    <!-- Styles for Portfolio library -->
<link rel="stylesheet" href="https://unpkg.com/portfolio-js@latest/dist/portfolio.css" />

  <!-- jQuery -->
  <script src="/static/bower_components/jquery/jquery.min.js"></script>
    <!--<script>
        $(document).ready(function(){
            $('#startdate').datepicker();
            $('#enddate').datepicker();
        });
    </script>-->
</head>
