<div class="col-sm-1" id="task_menu1" style="display:none">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header"><img class="dashboard-avatar" alt=""
                                            src="http://192.168.1.18/Employees/{{emp_code}}.jpg"></li>
                <li class="nav-header">Main</li>
		{% for page in data.left_side_menu %}
		    {% if not page.Reports %}
			<li class="{% if request.path == page.url %}active{% endif %}" id="{{ page.id }}">
			    <a class="ajax-link" href="{{ page.url }}"><i class="glyphicon glyphicon-new-window"></i>&nbsp;&nbsp;
				<span> {{ page.name }}</span>
			    </a>
			</li>
		    {% else %}
			<li class="accordion">
			    <a href="#"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;
				<span> Reports</span>
			    </a>
			    <ul class="nav nav-pills nav-stacked">
				{% for report in page.Reports %}
				    <li class="{% if request.path == report.url %}active{% endif %}" id="{{ report.id }}">
					<a class="ajax-link" href="{{ report.url }}"><i class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;
					    <span> {{ report.name }}</span>
					</a>
				    </li>
				{% endfor %}
			    </ul>
			</li>

		    {% endif %}
		{% endfor %}

                <li class="{% if request.path == '/help_documentation/' %}active{% endif %}"
                    id="help_document">
                    <a class="ajax-link"
                       href="/help_documentation"><i
                            class="glyphicon glyphicon-new-window"></i>&nbsp;&nbsp;
                        <span> Help </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
