<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "top_bar.html" %}
<div class="ch-container">
  <div class="row">
  </div>
  <!--/span-->
  <!-- left menu ends -->

  <noscript>
    <div class="alert alert-block col-md-12">
      <h4 class="alert-heading">Warning!</h4>

      <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
        enabled to use this site.</p>
    </div>
  </noscript>
  <div class="row">
    <div class="col-sm-1" id="task_menu1" style="display:none">
      <div class="sidebar-nav">
        <div class="nav-canvas">
          <ul class="nav nav-pills nav-stacked main-menu">
	    <li class="nav-header"><img class="dashboard-avatar" alt="" src="http://192.168.1.18/Employees/{{emp_code}}.jpg"></li>
            <li class="nav-header">Main</li>
            {% if data.user_role == 'Supervisor' %}
            <li class="active" id="mgm_dashboard_page"><a class="ajax-link" href="/mgm_dashboard"><i
              class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;<span> Management</span></a></li>
            <li id="dashboard_page"><a class="ajax-link" href="/dashboard"><i
              class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;<span> Dashboard</span></a></li>
            {% endif %}
            <li><a class="ajax-link" href="/tasks"><i
              class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp;<span> To Do List</span></a></li>
            <li><a class="ajax-link" href="/status"><i
              class="glyphicon glyphicon-th"></i><span>&nbsp;&nbsp; Task Status</span></a>
            </li>
            {% if data.user_role == 'Co-ordinator' or data.user_role == 'Supervisor' %}
            <li><a class="ajax-link" href="/review"><i
              class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp;<span> Review Tasks</span></a>
            <li><a class="ajax-link" href="/ftp"><i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;&nbsp;<span> FTP Upload</span></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <!-- left menu ends -->

    <div class="col-at-12" id="panel_big">

      <ul class="breadcrumb">
        <li>
          <a href="#">Main</a>
        </li>
        <li>
          <a href="#">Management &nbsp; Dashboard</a>
        </li>
      </ul>
      <div class="sidebar-nav">
        <div class="box-content row">
          <div class="box col-at-11">

            <div class="col-at-sm-3" style="display:block;">
              <div class="controls">
                <label class="control-label" for="selectMGMDashProject">Projects : &nbsp;</label>
                <select id="selectMGMDashProject" data-rel="chosen" style="width: 122px;">
                  {% for proj,id in data.projects.items %}
                  {% if data.current_project == proj %}
                  <option value="{{id}}" selected>{{proj}}</option>
                  {% else %}
                  <option value="{{id}}">{{proj}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

          </div>

          <div class="box col-at-11">

            <div class="box-header well">
              <h2><i class="glyphicon glyphicon-user"></i> &nbsp; Users Count</h2>
            </div>
            <div style="overflow:auto; overflow-y:auto; height:165px"
                 id="div_dash_users_count">

            </div>

            <div class="box-header well">
              <h2><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Report : Sequence</h2>
              <div class="box-icon">
                <button class="btn btn-inverse btn-default btn-xs" id="download_user_task" onclick="$('#tbl_sequence').table2excel({filename: 'sequence_details',exclude: '.noExl'});">
                  <i class="glyphicon glyphicon-save icon-white"></i></button>
              </div>
            </div>
            <div style="overflow:auto; overflow-y:auto; height:315px"
                 id="div_dash_sequence_details">
              <table class="table-hover table-condensed table-bordered" id="tbl_sequence">
                <thead>
                <tr>
                  <th>Sequnce</th>
                  <th>Shots</th>
                  <th>Status</th>
                  {% for obj_name,task_name in task_temp_data.items %}
                    {% for type,task_list in task_name.items %}
                      {% if type == 'Static shot' %}
                        {% for task in task_list %}
                          <th>{{ task }}</th>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                </tr>
                </thead>
              </table>
            </div>

            <div class="box-header well">
              <h2><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Report : Asset Build</h2>
              <div class="box-icon">
                <button class="btn btn-inverse btn-default btn-xs" id="download_asset_build" onclick="$('#tbl_asset_build').table2excel({filename: 'asset_build_details',exclude: '.noExl'});">
                  <i class="glyphicon glyphicon-save icon-white"></i></button>
              </div>
            </div>
            <div style="overflow:auto; overflow-y:auto; height:285px"
                 id="div_dash_asset_build_details">
              <table class="table-hover table-condensed table-bordered" id="tbl_asset_build">
                <thead>
                <tr>
                  <th>Asset Type</th>
                  <th>Total</th>
                  <th>Status</th>
                  {% for obj_name,task_name in task_temp_data.items %}
                    {% for type,task_list in task_name.items %}
                      {% if type == 'All Asset Build' %}
                        {% for task in task_list %}
                          <th>{{ task }}</th>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                </tr>
                </thead>
              </table>
            </div>

          </div>

        </div>
      </div>
    </div>

</body>
{% include "footer.html" %}
</html>
