<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{user_id}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The styles -->
    <link id="bs-css" href="/static/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href='/static/css/charisma-app.css' rel="stylesheet">
    <link href='/static/css/theme-dark-all.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="/static/bower_components/jquery/jquery.min.js"></script>

</head>

<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <a class="navbar-brand toggle_right" id="toggle_right" style="display:block"><i
      class="glyphicon glyphicon-chevron-right"
      style="float:left;font-size: 18px;"></i>
    </a>
    <a class="navbar-brand toggle_left" id="toggle_left" style="display:none"><i
      class="glyphicon glyphicon-chevron-left"
      style="float:left;font-size: 18px;"></i>
    </a>
    <a class="navbar-brand" href="http://atom">
      <!--            <img alt="" src="/static/img/atom01.jpg" class="hidden-xs"/> -->
      <img alt="" src="/static/img/assemblage.png" class="hidden-xs" style="width: 280px;"/>
      <!--            <span>A.T.O.M</span> -->
    </a>

    <div class="btn-group pull-right theme-container animated tada">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-sm hidden-xs"><i class="glyphicon glyphicon-user"></i>&nbsp; {{ user_id }}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/logout"> LOGOUT</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
<div class="row">
    <!-- leftside menu start -->
    <div class="col-sm-1" id="task_menu1" style="display:none">
      <div class="sidebar-nav">
        <div class="nav-canvas">
          <ul class="nav nav-pills nav-stacked main-menu">
            <li class="nav-header"><img class="dashboard-avatar" alt=""
                                        src="http://192.168.1.18/Employees/{{emp_code}}.jpg"></li>
            <li class="nav-header">Main</li>
            {% if data.user_role == 'Supervisor' %}
            <li id="mgm_dashboard_page"><a class="ajax-link" href="/mgm_dashboard"><i
              class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;<span> Management</span></a></li>
            <li><a class="ajax-link" href="/dashboard"><i class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;<span> Dashboard</span></a>
            </li>
            {% endif %}
            <li id="artist_tasks"><a class="ajax-link" href="/tasks"><i
              class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp;<span> To Do List</span></a>
            </li>
            <li><a class="ajax-link" href="/status"><i
              class="glyphicon glyphicon-th"></i><span>&nbsp;&nbsp; Task Status</span></a>
            </li>
            {% if data.user_role == 'Co-ordinator' or data.user_role == 'Supervisor' %}
            <li><a class="ajax-link" href="/review"><i class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp;<span> Review Tasks</span></a>
            <li><a class="ajax-link" href="/ftp"><i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;&nbsp;<span> FTP Upload</span></a>
            </li>
            {% endif %}


          </ul>
        </div>
      </div>
    </div>
    <!-- leftside menu start -->
    <div id="panel_big" class="col-at-12">
        <div class="box sidebar-nav">
            <div>
                <h2>{{statement}} 
                    <button class="btn btn-inverse btn-default" id="refresh" onClick="window.location.href=window.location.href" style="border-color: aquamarine;float: right;"><i class="glyphicon glyphicon-refresh icon-white"></i>&nbsp;&nbsp;Refresh</button></h2>
        
            </div>
        </div>
    </div>
</div>

</div><!--/row-->
</body>
<!-- external javascript -->

<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!--&lt;!&ndash; library for cookie management &ndash;&gt;-->
<script src="/static/js/jquery.cookie.js"></script>
<!--&lt;!&ndash; data table plugin &ndash;&gt;-->
<script src='/static/js/jquery.dataTables.min.js'></script>
<!--&lt;!&ndash; select or dropdown enhancer &ndash;&gt;-->
<script src="/static/bower_components/chosen/chosen.jquery.min.js"></script>
<!--&lt;!&ndash; plugin for gallery image view &ndash;&gt;-->
<script src="/static/bower_components/colorbox/jquery.colorbox-min.js"></script>
<!--&lt;!&ndash; notification plugin &ndash;&gt;-->
<script src="/static/js/jquery.noty.js"></script>
<!--&lt;!&ndash; star rating plugin &ndash;&gt;-->
<script src="/static/js/jquery.raty.min.js"></script>
<!--&lt;!&ndash; for iOS style toggle switch &ndash;&gt;-->
<script src="/static/js/jquery.iphone.toggle.js"></script>
<!--&lt;!&ndash; autogrowing textarea plugin &ndash;&gt;-->
<script src="/static/js/jquery.autogrow-textarea.js"></script>
<!--&lt;!&ndash; multiple file upload plugin &ndash;&gt;-->
<script src="/static/js/jquery.uploadify-3.1.min.js"></script>
<!--&lt;!&ndash; history.js for cross-browser state change on ajax &ndash;&gt;-->
<script src="/static/js/jquery.history.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/custom.js"></script>


</html>
