<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "top_bar.html" %}
<div class="ch-container">
  <div class="row">
    <!-- leftside menu start -->
    {% include "left_side_menu.html" %}
    <!-- leftside menu start -->
    <div id="panel_big" class="col-at-12">
      <div class="box sidebar-nav">
        <div>
          <h2>{{statement}}
            <button class="btn btn-inverse btn-default" id="refresh" onClick="window.location.href=window.location.href"
                    style="border-color: aquamarine;float: right;"><i
              class="glyphicon glyphicon-refresh icon-white"></i>&nbsp;&nbsp;Refresh
            </button>
          </h2>

        </div>
      </div>
    </div>
  </div>

</div><!--/row-->
</body>
{% include "footer.html" %}

</html>
