<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "top_bar.html" %}
<div class="ch-container">
  <div class="row">
    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>

        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.</p>
      </div>
    </noscript>
  </div>

  <div class="row">
    <!-- leftside menu start -->
    <div class="col-sm-1" id="task_menu1" style="display:none">
      <div class="sidebar-nav">
        <div class="nav-canvas">
          <ul class="nav nav-pills nav-stacked main-menu">
            <li class="nav-header"><img class="dashboard-avatar" alt=""
                                        src="http://192.168.1.18/Employees/{{emp_code}}.jpg"></li>
            <li class="nav-header">Main</li>
            {% if data.user_role == 'Supervisor' %}
            <li id="mgm_dashboard_page"><a class="ajax-link" href="/mgm_dashboard"><i
              class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;<span> Management</span></a></li>
            <li><a class="ajax-link" href="/dashboard"><i class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;<span> Dashboard</span></a>
            </li>
            {% endif %}
            <li><a class="ajax-link" href="/tasks"><i
              class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp;<span> To Do List</span></a>
            </li>
            <li><a class="ajax-link" href="/status"><i
              class="glyphicon glyphicon-th"></i><span>&nbsp;&nbsp; Task Status</span></a>
            </li>
            {% if data.user_role == 'Co-ordinator' or data.user_role == 'Supervisor' %}
            <li class="active"><a class="ajax-link" href="/review"><i class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp;<span> Review Tasks</span></a>
            <li><a class="ajax-link" href="/ftp"><i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;&nbsp;<span> FTP Upload</span></a>
            </li>
            {% endif %}


          </ul>
        </div>
      </div>
    </div>
    <!-- leftside menu start -->

    <div class="col-at-12" id="panel_big">
      <ul class="breadcrumb">
        <li>
          <a href="#">Main</a>
        </li>
        <li>
          <a href="#">Review Tasks</a>
        </li>
      </ul>


      <div class="sidebar-nav">
        <div class="box-content row">
          <div class="box col-at-11">
            <div class="col-at-sm-3" style="display:block;">
              <div class="controls">
                <label class="control-label" for="selectReviewProject">Projects : &nbsp;</label>
                <select id="selectReviewProject" data-rel="chosen" style="width: 122px;">
                  {% for proj,id in data.projects.items %}
                  {% if data.project == proj %}
                  <option value="{{ proj }}" selected>{{ proj }}</option>
                  {% else %}
                  <option value="{{ proj }}">{{ proj }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-at-2" style="float: left;">
              <input data-errorqtip="" aria-invalid="false" id="search"
                     data-qtip="Type to filter on task name or description"
                     placeholder="Type to search ..." class="x-form-field x-form-text x-form-empty-field"
                     autocomplete="off" type="text">
              &nbsp; &nbsp;<label id="table_row_count"></label>
            </div>
            <div class="box-icon" style="float: right;">
              <button class="btn btn-inverse btn-default btn-sm" id="refresh"
                      onClick="show_review_tasks()">
                <i class="glyphicon glyphicon-refresh icon-white"></i></button>
              <button class="btn btn-inverse btn-default btn-sm" id="download_user_task">
                <i class="glyphicon glyphicon-save icon-white"></i></button>
            </div>
          </div>
          <div class="col-at-12">
            <div class="box" style="overflow:auto; overflow-y:auto; height:688px"
                 id="div_task_details">
              <table class="table table-hover table-condensed table-bordered" id="tbl_task">
                <thead>
                <tr>
                  <th>Project</th>
                  <th>Task</th>
                  <th>Path</th>
                  <th>Version</th>
                  <th>Assigned Users</th>
                  <th>Status</th>
                  <th>Modified Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for data in tasks %}
                <tr data-task-id='{{ data.task_id }}' data-version-id='{{ data.version_id }}'
                    data-object-type='{{ data.object_type }}'>
                  <td>
                    <strong>{{ data.project }}</strong>
                  </td>
                  <td>
                    <strong>{{ data.task }}</strong>
                  </td>
                  <td style="width:300px;" data-task-id='{{ data.task_id }}' data-td='task_path'>
                    <strong>{{ data.path }}</strong>
                  </td>
                  <td data-td='version'>
                    <strong>{{ data.version }}</strong>
                  </td>
                  <td data-td='users'>
                    <strong>{{ data.users }}</strong>
                  </td>
                  <td title='{{ data.task }}' data-task-id='{{ data.task_id }}'
                      data-org-val='{{ data.ftrack_status }}'
                      data-td='status'>
                    <span class="label label-{{ data.status_label }}">{{ data.ftrack_status }}</span>
                  </td>
                  <td data-td='modified_date'>
                    <strong>{{ data.updated_on }}</strong>
                  </td>
                  <td>
                    <button class="btn btn-inverse btn-success btn-sm" id="task_approved"
                            style="color: black;" onclick="approve_task(this)">
                      <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;&nbsp;Approve
                    </button>
                    <button class="btn btn-inverse btn-danger btn-sm" id="task_reject"
                            style="color: black;" onclick="reject_task(this)">
                      <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp;&nbsp;Reject
                    </button>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

      <!-- Model start -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           data-backdrop="static" data-keyboard="false" aria-hidden="true">

        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <div id="modal_header">
                <div id="task_details_loader" style="text-align: center;"><h3>Reject Note</h3></div>

                <div class="box">
                  <textarea id="task_reject_note" rows="5" cols="20"
            placeholder="Write a note..."
            class="x-form-field x-form-text x-form-textarea"
            autocomplete="off" style="width: 100%; height: 48px;"></textarea>
                  <button type="button" title="Attach file here ..." class="btn btn-inverse btn-default btn-xs"
                          style="float: left;margin-right: 5px;" onclick="attach_media_files(this)"><span
                    class="glyphicon glyphicon-plus"></span></button>
                  <div class="progress" style="display:none">
                    <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                  </div>
                  <button class="btn btn-inverse btn-default btn-xs" id="btn_note_reject" title="Add Comment"
                          style="width: 60px;float: right;">
                    <i class="glyphicon glyphicon-send icon-white"></i></button>
                  <input id="fileupload" type="file" name="file" multiple
                         style="display: none;"
                         data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                  <table id="gallery" class="table">
                    <tbody></tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
          <!--
                          <div class="modal-footer">
                              <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                              <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                          </div>
          -->
        </div>
        <!-- model end -->
      </div>
    </div>
  </div>
</div>
</body>
{% include "footer.html" %}
</html>
