<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "top_bar.html" %}
<div class="ch-container">
  <div class="row">
    <noscript>
      <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>

        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
          enabled to use this site.</p>
      </div>
    </noscript>
  </div>

  <div class="row">
    <!-- leftside menu start -->
    {% include "left_side_menu.html" %}
    <!-- leftside menu start -->
    
    <div class="col-at-12" id="panel_big">
      <ul class="breadcrumb">
        <li>
          <a href="#">Main</a>
        </li>
        <li>
          <a href="#">Review Tasks</a>
        </li>
      </ul>


      <div class="sidebar-nav">
        <div class="box-content row">
          <div class="box col-at-11">
            <div class="col-at-sm-3" style="display:block;">
              <div class="controls">
                <label class="control-label" for="selectReviewProject">Projects : &nbsp;</label>
                <select id="selectReviewProject" data-rel="chosen" style="width: 122px;">
                  {% for proj,id in data.projects.items %}
                  {% if data.project == proj %}
                  <option value="{{ proj }}" selected>{{ proj }}</option>
                  {% else %}
                  <option value="{{ proj }}">{{ proj }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-at-sm-3" style="display:block;">
              <div class="controls">
                <label class="control-label">Status : &nbsp;</label>
                <select id="selectReviewStatus" data-rel="chosen" style="width: 180px;">
                  {% for status in data.review_status %}
                  {% if status == 'Pending Client Review' %}
                  <option value="{{ status }}" selected>{{ status }}</option>
                  {% else %}
                  <option value="{{ status }}">{{ status }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-at-2" style="float: left;">
              <input data-errorqtip="" aria-invalid="false" id="search"
                     data-qtip="Type to filter on task name or description"
                     placeholder="Type to search ..." class="x-form-field x-form-text x-form-empty-field"
                     autocomplete="off" type="text">
              &nbsp; &nbsp;<label id="table_row_count"></label>
            </div>
            <div class="box-icon" style="float: right;">
              <button class="btn btn-inverse btn-default btn-sm" id="refresh"
                      onClick="show_review_tasks()">
                <i class="glyphicon glyphicon-refresh icon-white"></i></button>
              <button class="btn btn-inverse btn-default btn-sm" id="download_user_task">
                <i class="glyphicon glyphicon-save icon-white"></i></button>
            </div>
          </div>
          <div class="col-at-12">
            <div class="box" style="overflow:auto; overflow-y:auto; height:688px"
                 id="div_task_details">
              <table class="table table-hover table-condensed table-bordered" id="tbl_task">
                <thead>
                <tr>
                  <th>Project</th>
                  <th>Task</th>
                  <th>Path</th>
                  <th>Version</th>
                  <th>Assigned Users</th>
                  <th>Status</th>
                  <th>Modified Date</th>
                  <th>Action</th>
                </tr>
                </thead>
		<tbody>
		</tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

      <!-- Model start -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           data-backdrop="static" data-keyboard="false" aria-hidden="true">

        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <div id="modal_header">
                <div id="task_details_loader" style="text-align: center;"><h3>Reject Note</h3></div>

                <div class="box">
                  <textarea id="task_reject_note" rows="5" cols="20"
            placeholder="Write a note..."
            class="x-form-field x-form-text x-form-textarea"
            autocomplete="off" style="width: 100%; height: 48px;"></textarea>
                  <button type="button" title="Attach file here ..." class="btn btn-inverse btn-default btn-xs"
                          style="float: left;margin-right: 5px;" onclick="attach_media_files(this)"><span
                    class="glyphicon glyphicon-plus"></span></button>
                  <div class="progress" style="display:none">
                    <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                  </div>
                  <button class="btn btn-inverse btn-default btn-xs" id="btn_note_reject" title="Add Comment"
                          style="width: 60px;float: right;">
                    <i class="glyphicon glyphicon-send icon-white"></i></button>
                  <input id="fileupload" type="file" name="file" multiple
                         style="display: none;"
                         data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                  <table id="gallery" class="table">
                    <tbody></tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
          <!--
                          <div class="modal-footer">
                              <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                              <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                          </div>
          -->
        </div>
        <!-- model end -->
      </div>
    </div>
  </div>
</div>
</body>
{% include "footer.html" %}
</html>
