<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "top_bar.html" %}
<div class="ch-container">
  <div class="row">
  </div>
  <!--/span-->
  <!-- left menu ends -->

  <noscript>
    <div class="alert alert-block col-md-12">
      <h4 class="alert-heading">Warning!</h4>

      <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
        enabled to use this site.</p>
    </div>
  </noscript>
  <div class="row">
    <!-- leftside menu start -->
    {% include "left_side_menu.html" %}
    <!-- leftside menu start -->

    <div class="col-at-12" id="panel_big">

      <ul class="breadcrumb">
        <li>
          <a href="#">Main</a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
      </ul>
      <div class="sidebar-nav">
        <div class="box-content row">
          <div class="box col-at-11">
            <div class="col-at-2" style="display:block;">
              <div class="controls">
                <label class="control-label" for="selectDashProject">Projects : &nbsp;</label>
                <select id="selectDashProject" data-rel="chosen" style="width: 122px;">
                  {% for proj,id in data.projects.items %}
                  {% if data.current_project == proj %}
                  <option value="{{proj}}" selected>{{proj}}</option>
                  {% else %}
                  <option value="{{proj}}">{{proj}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-at-6">
              <div class="controls">
                <label class="control-label">Date Range : </label>
                <div id="sequence_date_wise" class="pull-right"
                     style="position:relative;cursor: pointer;
                                     padding: 5px 10px; border: 1px solid #ccc; ">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                  <span>2018-01-25 : 2018-02-23</span> <b class="caret"></b>
                </div>
              </div>
            </div>
            <div class="col-at-2">
              <div class="controls pull-right">
                <button class="btn btn-inverse btn-default btn-sm" id="show_sequence_delivery">
                  <i class="glyphicon glyphicon-signal icon-white"></i>
                  Show Records
                </button>
              </div>
            </div>
            <!--<input type="text" class='form-control pull-right' name="sequence_date_wise" id="sequence_date_wise">-->
          </div>
          <div class="box col-md-7">
            <div class="box-inner" id="summary_display">
            </div>
          </div>
          <div class="box col-md-2">
            <div class="box-inner">
              <div class="box-header well">
                <h2>Legends</h2>
              </div>
            </div>
            <div class="box-content">
              <div class="box-content">
                <ul class="dashboard-list" style="padding-left: 0px;">
                  <li>
                    <span class="label label-internal_approved">Internal Approved</span>
                  </li>
                  <li>
                    <span class="label label-client_approved">Client Approved</span>
                  </li>
                  <li>
                    <span class="label label-in_progress">In progress</span>
                  </li>
                  <li>
                    <span class="label label-pending_client_review">Pending Client Review</span>
                  </li>
                  <li>
                    <span class="label label-client_reject">Client Reject</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr/>
          <div class="col-at-12">
            <div class="box row" id="add_accordion"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade in" id="myModal" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Shot Details</h4>
        </div>
        <div class="modal-body">
          <div id="modal_data">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>
</div>
</div>-->
</body>
{% include "footer.html" %}
</html>
