<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}
<body>
{% include "top_bar.html" %}
<div class="ch-container">
  <div class="row">
  </div>
  <!--/span-->
  <!-- left menu ends -->

  <noscript>
    <div class="alert alert-block col-md-12">
      <h4 class="alert-heading">Warning!</h4>

      <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
        enabled to use this site.</p>
    </div>
  </noscript>
  <div class="row">
    <!-- leftside menu start -->
    {% include "left_side_menu.html" %}
    <!-- leftside menu start -->

    <div class="col-at-12" id="panel_big">
      <ul class="breadcrumb">
        <li>
          <a href="#">Main</a>
        </li>
        <li>
          <a href="#">Task Status</a>
        </li>
      </ul>
      <div class="sidebar-nav">
        <div class="box-content row">
            <div id="entity_loader" style="text-align: center; display: none;"><img
                              src="/static/img/loading.gif"></div>
          <div class="box col-at-11">
            <input type="hidden" id="user_columns" value="{{data.columns}}"/>

            <div class="col-at-1">
              <div class="controls">
                <label class="control-label">Projects : &nbsp;</label>
                <select id="selectEntityProject" data-rel="chosen" style="width: 122px;">
                  <option value="">Select Project</option>
                  {% for proj,id in data.projects.items %}
                  <option value="{{id}}">{{proj}}</option>
                  {% endfor %}
                </select>
              </div>
                <!--&#45;&#45;&#45;&#45--- Hidden divs----------;&#45;&#45;&#45;&#45;-->
                    <div class="controls" id="status_options" style="display:none">
                        <select id="selectStatus" data-rel="chosen" data-placeholder="Select one..." onchange="select_change(this);">
                        {% for status in statuses %}
                            {% if status.name in disabled_status %}
                            <option value="{{status.name}}" disabled>{{status.name}}</option>
                            {% else %}
                            <option value="{{status.name}}">{{status.name}}</option>
                            {% endif %}
                          {% endfor %}
                     </select>
                  </div>

                  <div class="controls" id="users_options" style="display:none">
                    <select id="selectUsers" data-rel="chosen" multiple
                            data-placeholder="Select one..." onchange="select_change(this)" >
                      {% for user in users %}
                      <option value="{{user}}">{{user}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="controls" id="bids_options" style="display:none">
                    <select id="selectBids" data-rel="chosen"
                            data-placeholder="Select one..." onchange="select_change(this);">
                      {% for bid in bids %}
                      <option value="{{bid}}">{{bid}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="controls" id="complexity_options" style="display:none">
                    <select id="selectComplexity" data-rel="chosen"
                            data-placeholder="Select one..." onchange="select_change(this)" >
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                    </select>
                  </div>

                  <div class="controls" id="description_option" style="display:none">
                    <input type="text" id="description_text" maxlength="300" style="color=#FFFF00" class="x-form-field x-form-text x-form-empty-field" onchange="select_change(this);"/>
                  </div>

                  <div class="controls" id="stframe_options" style="display:none">

                    <select id="selectStartFrame" data-rel="chosen" style="width: 100px;" onchange="select_change(this);">
                          <!--<option value="">Select</option>-->
                            {% for stf in stf_range %}
                             <option value="{{ stf }}">{{ stf }}</option>
                          {% endfor %}
                    </select>


                  </div>
                    <div class="controls" id="edframe_options" style="display:none">
                      <select id="selectEndFrame" data-rel="chosen" style="width: 100px;" onchange="select_change(this);">
                               {% for stf in stf_range %}
                             <option value="{{ stf }}">{{ stf }}</option>
                          {% endfor %}
                        </select>
                  </div>

                <!--&#45;&#45;&#45;&#45--- Hidden divs----------;&#45;&#45;&#45;&#45;-->
            </div>

            <div class="col-at-1">
              <div class="controls">
                <label class="control-label" for="selectEntityObject">Objects : &nbsp;</label>
                <select id="selectEntityObject" data-rel="chosen" style="width: 122px;">
                      <option value="">Select Object</option>
                      {% for object in data.objects %}
                        <option value="{{ object }}">{{ object }}</option>
                      {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-at-1" id="assetType" style="display: none;">
              <div class="controls">
                <label class="control-label" for="selectEntityAssetType" id="type_name">Asset Types:</label>
                <select id="selectEntityAssetType" data-rel="chosen" style="width: 122px;" >
                      <option value="" selected>Select Asset Type</option>
                      {% for asset in data.asset_type %}
                        <option value="{{ asset }}">{{ asset }}</option>
                      {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-at-6" id="div_asset_name" style="display: none;">
              <div class="controls">
                <label class="control-label" for="selectAssetName" id="asset_name">&nbsp;Asset Name
                  : </label><br>
                <select id="selectAssetName" data-rel="chosen" multiple style="width:432px">
                    <option value="">Select Asset Build</option>
                </select>
		&nbsp;&nbsp;
                <label class="control-label" id="chk_seq" style="">
                    <input type="checkbox" id="all_assetsName" value="select_all">&nbsp;&nbsp;All
                </label>
              </div>
            </div>

            <div class="col-at-5" id="div_entity_sequence_name" style="display: none;">
              <div class="controls">
                <label class="control-label" for="selectEntitySequence" id="sequence_name">Sequence :
                  &nbsp;</label>
                <select id="selectEntitySequence" data-rel="chosen" multiple style="width:245px">
                  <option value="">Select Sequence</option>
                </select>
<!--
                <label class="control-label">&nbsp;
                  <input type="checkbox" id="all_entity_sequences" value="select_all"> All&nbsp;&nbsp;
                </label>
-->
              </div>
            </div>

            <div class="col-at-3" id="div_entity_shot_name" style="display: none;">
              <div class="controls">
                <label class="control-label" for="selectEntityShot" id="shot_name">&nbsp;Shots : </label><br>
                <select id="selectEntityShot" data-rel="chosen" multiple style="width:298px">
                  <option value="">Select Shot</option>
                </select>
                <label class="control-label">&nbsp;
                  <input type="checkbox" id="all_entity_shots" value="select_all"> &nbsp; All &nbsp;&nbsp;
                </label>
              </div>
            </div>
           <div class="col-at-1">
              <div class="controls">
                <label class="control-label" for="selectEntityTask" >Task :
                </label>
                <select id="selectEntityTask" data-rel="chosen" style="width: 122px;">
                      <option value="" selected>Select Task</option>
                </select>
              </div>
            </div>

            <!--<div class="col-at-1" style="float: right;">
              <label class="control-label" style="float: right;">&nbsp;
                  <input type="checkbox" id="create" value=""> Create
                </label>
            </div>-->
           <div class="col-at-1" style="float: right;">
              <div class="controls">
              <label class="control-label" >&nbsp;
                  <input type="checkbox" id="create" value=""> Create
                </label><br>
		    <button class="btn btn-inverse btn-default btn-sm" id="save" style="display: none;">
			<i class="glyphicon glyphicon-floppy-save icon-white"></i>&nbsp;&nbsp;Save
		    </button>
		    <button class="btn btn-inverse btn-default btn-sm" id="reset" style="display: none;">
			<i class="glyphicon glyphicon-hand-left icon-white"></i>&nbsp;&nbsp;Reset
		    </button>
		</div>
	    </div>
          <!-- -----------------------2nd nave------------------------->
          <div class="box col-at-11" id="create_sq_sc" style="display:none">
              <!----ASSET BUILD---->
              <div id="demo" class="col-at-4" style="display:none">
                 <span id="msg" style="display: none; color: red;">Asset name already exist.</span>
                  <div class="controls">
                     <input type="text" class="x-form-field x-form-text x-form-empty-field" id="asst_name" placeholder="Asset Name" >
                     <input type="text" class="x-form-field x-form-text x-form-empty-field" id="asset_description" placeholder="Description">
                     <button type="button" class="btn btn-inverse btn-default btn-sm" id="addAsset">Create Asset</button>
                     &nbsp;&nbsp;<input type="checkbox" id="add_asset_csv">&nbsp;&nbsp; Create from CSV &nbsp;&nbsp;

                     <button type="button" class="btn btn-inverse btn-default btn-sm" id="addAssetFromCSV" style="display: none;">Add CSV</button>
                 </div>
              </div>
               <!----squence---->
              <div id="sequence" style="visibility: hidden;">
              <div class="col-at-2">
                  <div class="controls">
                    <label class="control-label" for="selectSequenceRange" >Sequence :
                    </label>
                    <select id="selectSequenceRange" data-rel="chosen" style="width: 122px;">
                          <option value="" selected>Select Sequance</option>
                    </select>
                  </div>
            </div>
              </div>
              <!-----xrange----->
              <div id="div_x_range" style="display:none;">
              <div class="col-at-2">
                  <div class="controls">
                    <label class="control-label" for="select_x_range" >Range :
                    </label>
                    <select id="select_x_range" data-rel="chosen" style="width: 65px;">
                          <option value="1" selected>1x</option>
                          <option value="5">5x</option>
                          <option value="10">10x</option>
                          <option value="20">20x</option>
                    </select>
                  </div>
            </div>
              </div>
              <!----shot---->
          <div id="shot" style="visibility: hidden;">
          <div class="col-at-2">
                  <div class="controls">
                    <label class="control-label" for="selectSequenceRange" id="lable_id">Shot :
                    </label>
                    <select id="selectShotRange" data-rel="chosen" style="width: 122px;">
                          <option value="" selected>Select Start Shot</option>
                    </select>
                      &nbsp; To
                  </div>
            </div>
            <div class="col-at-1">
                  <div class="controls">
                    <select id="selectEndShotRange" data-rel="chosen" style="width: 122px;">
                          <option value="" selected>Select End Range</option>
                    </select>
                  </div>
            </div>
            <div class="col-at-1" id="shot_type" style="display: none;">
                  <div class="controls">
                  <select id="selectShotType" data-rel="chosen" style="width: 100px;">
                          <option value="" selected>Type</option>
                    </select>
                  </div>
            </div>
               <button type="button" class="btn btn-inverse btn-default btn-sm" id="createShot" style="display: none;">Create Shot</button>
               <button type="button" class="btn btn-inverse btn-default btn-sm" id="createSequence" style="display: none;">Create Sequence</button>
          </div>

        </div>
          <!-- -----------------------Top------------------------->

          </div>


          <div class="col-at-12">
            <!--<div class="box" style="overflow:auto; overflow-y:auto; height:688px"
                 id="div_task_details">-->

                <div class="box" style="overflow:auto; overflow-y:auto; height:670px"
                 id="div_task_enitity_details">
                  <input type="hidden" id="orignal_rows" value="">
                  <input type="hidden" id="edited_rows" value="">

                  <table id="example" class="display table table-bordered" style="width:100%">
                        <thead>
                            <tr id="head">
                                <th>Name</th>
                                <th>Assigned Users</th>
                                <th>Status</th>
                                <th>Bid</th>
                                <th>Complexity</th>
                                <th>Start Date</th>
                                <th>Description</th>
                                <th>Start Frame</th>
                                <th>End Frame</th>
                                <th>Links</th>
                                <th>Action</th>
                            </tr>
                       </thead>
                       <tfoot data-selcted-tr=""></tfoot>
                  </table>
                </div>

            <!--</div>-->

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- start csv div-->
<div class="controls" id="asset_id">
        <div class="modal fade" id="assetModal" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered rounded_border">
            <div class="modal-header">
              <label id="create_asset_csv_label">
                Upload CSV &nbsp;&nbsp;
                <a href="/media/sample/sample_create_asset.csv">[ Sample CSV ]</a>
              </label>
              <button type="button" class="close" data-dismiss="modal" style="color: #fff;">×</button>
              <br>

              <div class="box" id="div_create_asset_csv" style="display:block">
                <button type="button" title="Attach file here ..." class="btn btn-inverse btn-default btn-xs"
                        style="float: left;margin-right: 5px;" id="asset_csv" onclick="csv_upload_files(this)"><span
                  class="glyphicon glyphicon-plus"></span></button>
                <label id="attached_csv_file"></label>
                <div class="progress" style="display:none">
                  <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                </div>
                <input id="csv_fileupload" type="file" name="file" accept=".csv"
                       style="display: none;"
                       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                <button class="btn btn-inverse btn-default btn-xs" id="add_asset_build_csv"
                        title="Create Asset Builds" style="width: 150px;float: right;">Create Asset Builds
                </button>
                <br>
                <div class="box-inner" style="overflow:auto; overflow-y:auto; height:410px;width: 100%;">
                  <table id="csv_asset_builds" class="table table-condensed table-bordered">
                    <thead>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- end of asset form div -->
<!----------start create link modal---------------->
<div style="display: none;" id="link_details" asset_ids=""></div>

<div class="modal fade" id="linkModel" tabindex="-1" role="dialog" aria-labelledby=""
           data-backdrop="static" data-keyboard="false" aria-hidden="true">

        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" id="linkReset">×</button>
              <div id="linkmodal_header">
                <div id="linktask_details_loader" style="text-align: left;"><img
                  src="/static/img/loading.gif"></div>
              </div>
            </div>
            <div class="modal-body">
              <div>
              <input class="form-control" id="myInput" type="text" style="background-color:  #212f3d;" placeholder="Search..">
                <br>
               <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                  <div style="float: center;">
                   <input id="all_link" value="" type="checkbox"> All
                   &nbsp;&nbsp;<button type="button" class="btn btn-inverse btn-default btn-xs" cur-asset="" id="reset_link_asset">Reset</button>
               </div>
                <div style="overflow-y: auto; height: 650px">
                <ul class="list-group" id="myList" data-checked="">
                  <li class="list-group-item"><input type="checkbox" id="1"/>&nbsp;</li>

              </ul>
                </div>
              </div>
              <div class="modal-footer" text-align="center">
              <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
              <a href="#" id="save_asset" class="btn btn-primary" onclick="add_entity_asset_link(this)">Save</a>
          </div>
            </div>
          </div>

        </div>
      </div>
<!----------end create link modal---------------->
</body>
{% include "footer.html" %}
</html>
