<div class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <a class="navbar-brand toggle_right" id="toggle_right" style="display:block"><i
      class="glyphicon glyphicon-chevron-right"
      style="float:left;font-size: 18px;"></i></a>
    <a class="navbar-brand toggle_left" id="toggle_left" style="display:none"><i
      class="glyphicon glyphicon-chevron-left"
      style="float:left;font-size: 18px;"></i></a>

    <a class="navbar-brand" href="http://atom">
      <!--            <img alt="" src="/static/img/atom01.jpg" class="hidden-xs"/>
      <span>A.T.O.M</span> -->
      <img alt="" src="/static/img/assemblage.png" class="hidden-xs" style="width: 280px;"/>
    </a>

    <a class="navbar-brand toggle_task_right pull-right" id="toggle_task_right" style="display:none"><i
      class="glyphicon glyphicon-chevron-right" style="float:right;font-size: 18px;"></i></a>
    <a class="navbar-brand toggle_task_left pull-right" id="toggle_task_left" style="display:block"><i
      class="glyphicon glyphicon-chevron-left" style="float:right;font-size: 18px;"></i></a>

    <div class="btn-group pull-right theme-container animated tada">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-sm hidden-xs"><i class="glyphicon glyphicon-user"></i>&nbsp; {{user_id}}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/logout"> LOGOUT</a></li>
      </ul>
    </div>

  </div>
</div>

